<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="NLog\Logs\internallog.txt">
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${currentdir}/NLog/Logs/${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="debuglog" xsi:type="Debugger" layout="${longdate} ${level:uppercase=true} ${message}" />
    <!--<target name="console" xsi:type="Console" />-->
    <!-- Write target to the databse -->
    <!--<target name="database" xsi:type="Database" connectionString="${appsettings:name=ConnectionStrings.applog}" >
      <commandText>
        INSERT INTO [NLog] (
        [ApplicationName],
        [AppUserIdentity],
        [LogDate] ,
        [LogLevel] ,
        [LogSource],
        [LogAssembly] ,
        [LogMessage] ,
        [MachineName] ,
        [DomainUser],
        [CallSite],
        [LogThread] ,
        [LogException]  ,
        [ClientIp]
        )
        VALUES     (
        @ApplicationName,
        @AppUserIdentity,
        @LogDate ,
        @LogLevel ,
        @LogSource,
        @LogAssembly,
        @LogMessage ,
        @MachineName ,
        @DomainUser ,
        @CallSite ,
        @LogThread ,
        @LogException,
        @ClientIp
        );
      </commandText>
      <parameter name="@ApplicationName" layout="${appsettings:name=AppName:default=Missing-Config}" />
      <parameter name="@AppUserIdentity" layout="${aspnet-user-identity}" />
      <parameter name="@LogDate" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@LogLevel" layout="${level}" />
      <parameter name="@LogSource" layout="${logger} " />
      <parameter name="@LogAssembly" layout="${assembly-version}" />
      <parameter name="@LogMessage" layout="${message}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@DomainUser" layout="${windows-identity:domain=true}" />
      <parameter name="@CallSite" layout="${callsite}" />
      <parameter name="@LogThread" layout="${threadid}" />
      <parameter name="@LogException" layout="${exception}" />
      <parameter name="@ClientIp" layout="${aspnet-request-ip}" />
    </target>-->
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="debuglog" />
    <!--<logger name="*" minlevel="Info" writeTo="console" />-->
    
    <!-- Block output from noisy loggers -->
    <!--<logger name="Microsoft.*" maxlevel="Info" final="true" />-->
    <!--<logger name="System.Net.Http.*" maxlevel="Info" final="true" />-->
    <!-- Write the good stuff to the databse -->
    <!--<logger name="*"  minlevel="Debug" writeTo="database" />-->
  </rules>
</nlog>